@font-face {
    font-family: 'Briberra';
    src: url('fonts/Briberra.eot');
    src: url('fonts/Briberra.eot?#iefix') format('embedded-opentype'),
        url('fonts/Briberra.woff2') format('woff2'),
        url('fonts/Briberra.woff') format('woff'),
        url('fonts/Briberra.ttf') format('truetype'),
        url('fonts/Briberra.svg#Briberra') format('svg');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family:"Briberra", Arial,serif;
}

b {
    font-size: 35px;
    color: gray;
}

h1 {
margin-top:50px;
margin-left:35%;
}

h3 {
	text-align: justify;
	font-family:"Briberra", Arial,serif;

 
}

h4 {
    margin-top: 50px;
}


body
{
height: 100%;    
color: #ffffffff;
background-color: black;
background-image:url("https://images.wallpaperscraft.ru/image/klaviatura_podsvetka_krasnyj_136083_1280x720.jpg");
background-repeat: no-repeat;
background-size: 100%; 
}

.wrapper {
    margin-top:0!important;
    position:relative;
    margin:0px;
    z-index:99;
}

.content {
    margin-left: 30px;
    margin-right: 30px;
}

 button.tab {
    padding: 3px 7px;
    color: #00BBD6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
    margin-left: 50%; 
   }
